 .form-server input {
     display: block;
 }
 
 .advert-form {
     width: 80%;
     margin: 30px auto;
     padding: 20px 0px;
     border-right: 2px solid #8f8f8f;
     border-left: 2px solid #8f8f8f;
 }
 
 .advert-form div {
     padding: 8px 70px;
 }
 
 .advert-form input {
     width: 100%;
     padding: 10px 0px 10px 0px;
     font-size: 14px;
 }
 
 .advert-form button {
     padding: 10px;
     min-width: 150px;
     font-size: 16px;
     cursor: pointer;
 }
 
 .advert-form button:hover {
     background-color: #dddddd;
     border-color: #545d99;
 }
 
 .advert-form_button {
     display: flex;
     justify-content: flex-end;
 }
 
 .advert-form_title {
     color: #3b3b3b;
     font-size: 21px;
 }
 
 .advert-form_button__login div {
     padding: 0px;
     width: 32%;
 }
 
 .advert-form_button__login {
     display: flex;
     justify-content: flex-end;
     font-size: 18px;
     font-weight: 500;
 }
 
 .advert-form_button__remember {
     display: flex;
     justify-content: flex-end;
 }
 
 .advert-form input[type="checkbox"] {
     width: auto;
 }
 
 .advert-form_button__login {
     display: flex;
     justify-content: flex-end;
 }
 
 .advert-form-add input::placeholder {
     color: #474747;
 }
 
 .advert-form input[type="file"] {
     width: 49%;
 }
 
 .advert-form_category,
 .advert-form_file,
 .advert-form_body {
     /* background-color: blueviolet;
     border: 1px solid #545d99; */
 }
 
 .advert-form textarea {
     width: 100%;
 }
 
 .advert-form label {
     width: 50%;
     display: inline-block;
     /* background: blanchedalmond; */
     font-size: 17px;
 }
 
 .advert-form select {
     padding: 5px;
 }