<!-- .header-->
{% include 'header.html' %} {% include 'search_form.html' %}
<div class="middle">

    <div class="container">
        <main class="content">
            <!-- start category -->
            <!-- end category -->
            <h2 class="advert-title">Все объявления</h2>
            <div class="adverts" id="adverts">

                <div class="card" id="1">1
                    <div class="card-preview">
                        <img src="./images/default.jpg" />
                    </div>
                    <div onclick="deleteEl(this)" class="card-title">
                        Заголовок объявления
                    </div>
                    <div class="card-cost">
                        200 000 ₽
                    </div>
                    <div class="card-address">
                        Москва, проспект Ленина, 21
                    </div>
                </div>
            </div>
        </main>
        <!-- .content -->
    </div>
    {% include 'sidebar.html' %}
    <!-- .container-->
</div>
<!-- .middle-->
{% include 'footer.html' %}