<div class="category">
    <div>
        <ul>
            <li><a href="#">Личные вещи<span>200</span></a></li>
            <li><a href="#">Транспорт<span>100</span></a></li>
            <li><a href="#">Недвижимость<span>300</span></a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="#">Животные<span>200</span></a></li>
            <li><a href="#">Работа<span>102</span></a></li>
            <li><a href="#">Бытовая электроника<span>300</span></a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="#">Хобби и отдых<span>200</span></a></li>
            <li><a href="#">Продукты<span>100</span></a></li>
        </ul>
    </div>

</div>