</div>
<!-- .wrapper -->
<footer class="footer">
    <div class="footer-menu">
        <ul>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Обратная связь</a></li>
            <li><a href="#">О компании</a></li>
        </ul>
        <ul>
            <li><a href="#">Основные категории</a></li>
            <li><a href="/advert/add">Добавить объявление</a></li>
            <li><a href="#">Правила публикации</a></li>
        </ul>
        <ul>
            <li><a href="#">Профиль</a></li>
            <li><a href="/user/create">Зарегистрироваться</a></li>
            <li><a href="login.html">Войти</a></li>
        </ul>
    </div>
</footer>
<!-- .footer -->
<script type="text/javascript" src="./js/script.js"></script>
</body>

</html>