<header class="header">
    <div class="block-header">

        <div class="block-header-logo">
            <a href="/"> <img src="/images/logo.png" /></a>
        </div>
        <div class="block-header-category">
            <ul>

                <li><a href="#">Авто</a></li>
                <li><a href="#">Недвижимость</a></li>
                <li><a href="#">Работа</a></li>
                <li><a href="#">Услуги</a></li>
            </ul>
        </div>
        <div class="block-header-profile">
            <a href="#" class="block-buttom my-adv">Мои объявление</a>
            <a href="#" class="block-buttom profile">Профиль</a>
            <button id="create-adv" class="block-buttom create">Разместить объявление</button>
        </div>
    </div>

    <form class="block-search">
        <select class="block-search-select" name="category">
                            <option value="0">Любая категория</option>
                            <option value="1">Транспорт</option>
                            <option value="2">Недвижимость</option>
                        </select>
        <input class="block-search-input" value="" maxlength="50" name="search" />
        <button class="block-search-send">Найти</button>
    </form>
</header>