<aside class="right-sidebar">

    <div class="advert-title">Платные объявления</div>

    <div class="advert-sidebar">
        <div class="card-mini" id="1">
            <div class="card-mini-preview">
                <img src="/images/default.jpg" />
            </div>
            <div class="card-info">
                <div class="card-mini-title">
                    Супер тёплый дом за городом
                </div>
                <div class="card-mini-cost">
                    200 000 ₽
                </div>
            </div>
        </div>

        <div class="card-mini" id="1">
            <div class="card-mini-preview">
                <img src="/images/default.jpg" />
            </div>
            <div class="card-info">
                <div class="card-mini-title">
                    Супер тёплый дом за городом
                </div>
                <div class="card-mini-cost card-mini-cost-free">
                    Бесплатно
                </div>
            </div>
        </div>

        <div class="card-mini" id="1">
            <div class="card-mini-preview">
                <img src="/images/default.jpg" />
            </div>
            <div class="card-info">
                <div class="card-mini-title">
                    Дача в деревне в Калужской области рядом с озером
                </div>
                <div class="card-mini-cost">
                    500 000 ₽
                </div>
            </div>
        </div>
    </div>
    <div class="advert-title">Просмотренные объявления</div>

    <div class="advert-sidebar">
        <div class="card-mini" id="1">
            <div class="card-mini-preview">
                <img src="/images/default.jpg" />
            </div>
            <div class="card-info">
                <div class="card-mini-title">
                    Супер тёплый дом за городом
                </div>
                <div class="card-mini-cost">
                    200 000 ₽
                </div>
            </div>
        </div>

        <div class="card-mini" id="1">
            <div class="card-mini-preview">
                <img src="/images/default.jpg" />
            </div>
            <div class="card-info">
                <div class="card-mini-title">
                    Дача в деревне в Калужской области рядом с озером
                </div>
                <div class="card-mini-cost">
                    500 000 ₽
                </div>
            </div>
        </div>
    </div>

</aside>
<!-- .right-sidebar -->